<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <h1>About Me</h1>
  <h2>... and my journey in blogging</h2>

  <p>I am working for a tutorial for now, let's see how it goes</p>
  <p>Wish me luck</p>
</body>
