---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";

const pageTitle = "About Me";
const mySkills = ["Frontend", "Backend", "Too Lazy To Add More Now"];
const inProgress = true;
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>... and my journey in blogging</h2>
  <p>What I know to do...</p>
  <ul>
    {mySkills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  <p>I am working for a tutorial for now, let's see how it goes</p>
  <p>Wish me luck</p>
  {inProgress && <p>I am yet to finish building this section about me</p>}
</BaseLayout>
