---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Some subtitle sent as like react children, called <slot /> in Astro</h2>
</BaseLayout>
